.plaid_addbutton {
    background-color: var(--FONT_MODE);
    color: var(--BACKGROUND_MODE);
    border-width: 0;
    position: relative;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    height: 2rem;
    width: 6rem;
}
.plaid_addbutton:hover {
    background-color: rgb(63, 61, 61);
    transition: 0.2s;
    cursor: pointer;
}