.overview {
    background-color: var(--WINDOW_MODE);
    width: 60rem;
    height: 35rem;
    margin-right: 3rem;
    position: fixed;
    top: 5rem;
    right: 0;
    border-radius: 1rem;
    outline: var(--FONT_MODE) solid 0.2rem;
    animation: reveal 1s forwards;
}
    .overview__header {
        display: flex;
        border-bottom: 2px solid var(--FONT_MODE);
        justify-content: space-around;
        font-size: 1.4rem;
    }
        .overview__header__user {
            font-style: italic;
        }
        .overview__header__date {
            font-size: 1.4rem;
            border-left: 2px solid var(--FONT_MODE);
            padding-left: 4.5rem;
        }
        .overview__header__title {
            font-size: 1.4rem;
            font-weight: 900;
            border-left: 2px solid var(--FONT_MODE);
            padding-left: 1.5rem;
        }
    .overview__widgets {
        display: flex;
        flex-direction: column;
    }
        .overview__widgets__top {
            display: flex;
            justify-content: space-between;
        }