.sidebar {
    background-color: var(--WINDOW_MODE);
    text-align: center;
    width: 20rem;
    height: 35rem;
    margin-left: 1rem;
    position: relative;
    top: 5rem;
    border-radius: 1rem;
    outline: auto;
    outline: var(--FONT_MODE) solid 0.2rem;
    animation: reveal 1s forwards;
}
    .sidebar__refresh {
        top: 0.5rem;
        right: 1rem;
        width: 1.4rem;
        position: absolute;
        margin-left: 1rem;
        cursor: pointer;
    }
        .sidebar__refresh--load {
            animation: load 1s forwards;
        }
            @keyframes load {
                from {
                    rotate: 0deg;
                }
                to {
                    rotate: -180deg;
                }
            }
        .sidebar__refresh--loadalt {
            animation: loadAlt 1s forwards;
        }
            @keyframes loadAlt {
                from {
                    rotate: 0deg;
                }
                to {
                    rotate: -180deg;
                }
            }
    .sidebar__border {
        position: relative;
        top: 0.5rem;
        border-bottom: 0.2rem solid var(--FONT_MODE);
    }
        .sidebar__border__title {
            color: var(--FONT_MODE);
            font-size: 1.3rem;
            font-weight: 900;
        }
    .sidebar__footer {
        position: absolute;
        top: 95%;
        left: 10%;
        color: var(--FONT_MODE);
    }