.transaction-container {
    background:linear-gradient(var(--BACKGROUND_MODE), rgba(255, 255, 255, 0));
    top: 1rem;
    margin: 1rem;
    width: 90%;
    height: 6rem;
    position: relative;
    text-align: left;
    animation: fade 2s forwards;
}
.transaction-icon {
    margin: 0.3rem;
    top: 0.5rem;
    width: 2rem;
    position: absolute;
    animation: fade 2s forwards;
}
.account-name {
    position: relative;
    top: 1rem;
    margin-left: 2.5rem;
    font-weight: 900;
    font-size: larger;
    white-space: nowrap;
    animation: fade 2s forwards;
}
.transaction-name {
    position: relative;
    top: 1.5rem;
    margin-left: 3.5rem;
    font-weight: 500;
    white-space: nowrap;
    animation: fade 2s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}