@keyframes press {
    from {
        box-shadow:  5px 5px 5px grey;
    }
    to {
        box-shadow:  1px 1px 1px grey;
    }
}
@keyframes loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
.create-window-container {
    background-color: var(--BACKGROUND_MODE);
    position: absolute;
    text-align: center;
    height: 12rem;
    width: 17rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid var(--FONT_MODE);
    border-radius: 1rem;
}
.create-window-cancel {
    width: 1rem;
    position: absolute;
    left: 90%;
    cursor: pointer;
}
.signup-acc-button {
    background-color: var(--FONT_MODE);
    color: var(--BACKGROUND_MODE);
    border-radius: 2rem;
    box-shadow: 5px 5px 5px grey;
    position: relative;
    height: 1.5rem;
    width: 8rem;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}
.signup-acc-button:hover {
    background-color: rgb(63, 61, 61);
    transition: 0.2s;
    cursor: pointer;
}
.signup-acc-button:active {
    animation: press 0.1s forwards;
}
.signup-loading {
    position: relative;
    top: 1rem;
    width: 2rem;
    animation: loading 1.2s infinite;
}
.signup-failed {
    color: red;
    position: relative;
    padding-top: 0.5rem;
    font-size: 0.5rem;
}