.menu {
    font-family: var(--CONTENT);
    font-size: var(--FONT_SZ_SUB);
    display: flex;
    justify-content: center;
    position: absolute;
    padding-right: 1rem;
    width: 3rem;
    height: 2rem;
    top: 1rem;
    right: 0;
}
    .menu__lines__line {
        background-color: var(--FONT_MODE);
        height: 0.3rem;
        width: 2rem;
        margin: 0.15rem;
        animation: reveal 1s forwards;
    }
    .menu__list {
        position: absolute;
    }
        .menu__list a {
            color: var(--FONT_MODE);
            text-decoration: none;
        }
        .menu__list__item {
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin: 0;
            border-bottom: 2px solid var(--FONT_MODE);
        }
        .menu__list__item--last {
            border-bottom: none;
        }
        .menu__list__item--center {
           text-align: center;
        }
        .menu__list__item:hover {
            transition: 0.2s ;
            background-color: var(--WINDOW_MODE) ;
        }
            .menu__list__item__icon {
                width: 18px;
                padding-right: 0.2rem;
            }
    .menu__list--default {
        color: var(--FONT_MODE);
        background-color: var(--BACKGROUND_MODE);
        width: 12rem;
        border: 1px solid var(--FONT_MODE);
        border-radius: 1px;
        top: 2.5rem;
        right: 0;
        flex-direction: column;
    }
    .menu__list--hide {
        display: none;
        opacity: 0%;
    }
    .menu__list--show {
        animation: reveal 0.2s forwards
    }
.menu:hover .menu__lines__line {
    background-color: var(--HOVER);
    transition: 0.2s;
}