.upcoming {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--BACKGROUND_MODE);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--FONT_MODE);
    width: 15rem;
    height: 18rem;
    margin: 1.5rem;
}
    .upcoming__txt {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1.3rem;
    }